# Pandas

## What is Pandas ?

##### **Pandas is a Python library used for data manipulation, analysis, and cleaning.**
##### *The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.*
It provides two main data structures:**
1. Series (1D data)
2. DataFrame (2D tabular data)

In [ ]:
#Checking pandas version...
import pandas as pd
print(pd.__version__)

In [ ]:
import pandas as pd
s = pd.Series([10, 20, 30, 40, 50], index = ["a", "b", "c", "d", "e"])   #index helps us to create our own labels.
s

#These labels acts like index through which we can access the data.
print(s["d"])    
print(s["b" : "e"])   #slicing can be done using the modified indexes.

In [ ]:
import pandas as pd
data = {
    "star_names" : ["Betelguese", "Bellatrix", "Rigel", "Saiph"],
    "distance_in_light_years" : [643, 860, 250, 650]
}
df = pd.DataFrame(data, index = [1, 2, 3, 4])  #index helps us to create our own labels.
df

#### Creating a .csv file for stars and the constellation they belong to with alphabet 'A'.

In [ ]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

star_data = pd.read_csv("sample.csv")
print("0-20 pc → Solar neighborhood\n20-50 pc → Local stellar region")
print("50-100 pc → Nearby galactic disk\n100+ pc → Distant bright stars\n")
star_data

In [ ]:
star_data.head()   #It returns headers and first 5 rows by default if argument not mentioned.

In [ ]:
star_data.tail()   #It returns headers and last 5 rows by default if argument not mentioned.

In [ ]:
star_data.info()   #It states structures, data-types and missing values.

In [ ]:
star_data.describe()   #It desribes statistical summary.

#### Column Selection

In [ ]:
import pandas as pd

frame_data = {
    "Planets" : ["Mercury", "Venus", "Earth", "Mars", "Jupyter", "Saturn", "Uranus", "Neptune"],
    "Radius_in_km" : [2439.7, 6051.8, 6371.0, 3389.5, 69911, 58232, 25362, 24622],
    "Distance_from_the_sun_in_AU" : [0.39, 0.72, 1.00, 1.52, 5.20, 9.54, 19.22, 30.06],
    "Gravitational_acceleration_in_m/s^2" : [3.7, 8.87, 9.8, 3.7, 24.79, 10.44, 8.69, 11.15]
}
df = pd.DataFrame(frame_data)
print("DataFrame Set: ")
df

Single Column Selection : It is like indexing where you mention the header and that data inside that header will be printed.

In [ ]:
#Single Column Seleciton...
df["Planets"]

Multiple Column Selction : It helps us mention multiple headers and print the data under that header sections.

In [ ]:
#Multiple Column Selection...
df[["Planets", "Radius_in_km", "Distance_from_the_sun_in_AU"]]

Outputs :
1. Output of a single column data is like a type of Series that prints only a single header with no. of data's inside it.
2. Output of a multiple data is a DataFrame that prints mentioned headers and no. of data's inside it.
Both are different from each other and shows the clear importance between accessibility of a single or a multiple data sets.

#### Row Filtering

Row filtering allows us to access data from specific rows by using conditions.

In [ ]:
import pandas as pd
student_data = {
    "name " : ["Pia", "Hikaru", "Judit", "Magnus"],
    "age" : [29, 23, 24, 19],
    "birth_year" : [2000, 2002, 2001, 2005],
}
data_f = pd.DataFrame(student_data)
data_f

##### Using single conditional statements.

In [ ]:
print(data_f["age"] > 20)
data_f[ data_f[ "age"] > 20]    #true terms will be printed out

In [ ]:
print(data_f[ "birth_year"] >= 2002)
data_f[ data_f[ "birth_year"] >= 2002]    #true terms will be printed out

##### Using multiple conditional statements.

Here we relate with more than pne conditions to access the specific data. Here the parenthesis are required as unwanted data might get involved resulting error in ouptut.

As you can see here '&' is used instead of 'and' operator as '&' is a bitwise-AND operator and...
1. '&' operates on bits(integers) while 'and' is used on truth tables(bool values).
2. '&' returns an integer value while 'and' returns a last evaluated operand.

In [ ]:
#Check for shape of the dataframe...
print(f"Original Shape = {data_f.shape}\n\n")

In [ ]:
print(data_f[ "age"] > 20 & (data_f[ "birth_year"] >= 2002))
data_1 = data_f[(data_f[ "age"] > 20) & (data_f[ "birth_year"] >= 2002)]
data_1

In [ ]:
#Check for shape after filtering...
print(f"Filtered Shape = {data_1.shape}")

### Sorting Data

#### sort_values() : It sorts the values/data/elements in an ascending order by defaault.

In [ ]:
import pandas as pd

earth_composition = {
    "Gases" : ["Nitrogen", "Oxygen", "Carbon Dioxide", "Argon", "Other Gases"],
    "percent" : [78.084, 20.946, 0.042, 0.934, 0.002]
}
comp_data = pd.DataFrame(earth_composition)
comp_data

In [ ]:
#sorting the above compostion value
comp_data.sort_values("percent")    #By Default sorts in the ascending order

In [ ]:
#sorting in descending order
comp_data.sort_values("percent", ascending = False)

#when ascending = False, it returns sorting values with descending order

In [ ]:
comp_data.isna()

#### Checking the missing values (NaN) inside the DataFrame

In [ ]:
import pandas as pd
presenty_data = {
    "student_name" : ["Rahul", "Priya", "Daksh", "Sanya", "Durvesh"], 
    "presenty" : [1, None, 0, 1, None]
}
p_data = pd.DataFrame(presenty_data)
p_data

In [ ]:
#Checking how many missing values are there
print(p_data.isna())

#Checking for the total missing values(NaN) values..
print(p_data.isna().sum())

**isna.() returns boolean values. For the missing values such as NaN, None, etc., it returns 'True' otherwise 'False'.**

**.sum() here counts the number of the missing values such as NaN, None, etc..., per column.**

### How to handle the missing values ?

In [ ]:
import pandas as py
import numpy as np

df2 = pd.read_csv("hokage.csv", na_values = [" None", "None "])
df2

In [ ]:
#checking for null or missing values
df2.isna().sum()

**Options to handle missing values :**

In [ ]:
#1. Drop missing rows >>>
df2.dropna()

*As you can see the above output... It usually omits the rows with NaN/ None anywhere in the column. Thus making it less efficient as one requires whole data to handle, store or organize it in most of the cases.*

In [ ]:
#2. Fill missing rowa >>>
df2_filled = df2.fillna(df2.mean(numeric_only = True))
df2_filled

*As you can see the above output... It usually doesn't change anything in strings or characters and only reacts to the numeric data by which the missing values are filled by using mean of all other values.*

#### When to drop and when to fill ?

Use of .dropna() ->
1. Use it only when the data is massive and doesn't affect your result.
2. Use it only when there are too many NaN values in a single rows.

Use of .fillna() ->
1. Use it only if the data is much smaller and easily affects the result.
2. Use it only when there are fewer NaN values and can be replaced by filling data.

***Real Data-sets almost always contains the missing values.***

### Learning Groupby and Aggregation functions

#### Using groupb() to an actual data
*groupby() helps us group the same strings and return the data without repeating the same row formats.*

In [ ]:
import pandas as pd

df3 = pd.read_csv("weather.csv")
df3.index = ["A", "B", "C", "D", "E"]
df3

In [ ]:
#group by column
df3.groupby("City_name")
df3

In [ ]:
#apply aggregation functions 
df3.groupby("City_name").mean(numeric_only = True)

In [ ]:
#calculation over mean values
#Printing max values over their mean values
df3.groupby("City_name").max(numeric_only=True)

In [ ]:
#calculation over mean values
#Printing min values over their mean values
df3.groupby("City_name").min(numeric_only = True)

#### mean()/max()/min() and numeric_types
*mean() calculates the mean values per city, max() calculates maximum values per city and min() calculates minimum values per city.*
*'numeric_only = True' allows to work on only numeric types leaving non-numeric data as it is.*

#### Groupby with multiple aggregation functions
*groupby with multiple aggregation helps to group and add functions in a single table.*

In [ ]:
#groupby with multiple aggregations
df3_mix = df3.groupby("City_name").agg({
    " Temperature": ["max", "min", "mean"],
    " Humidity": ["max", "min", "mean"]
})
df3_mix

*In above cell, the output prints table as groupby and all the aggregation functions in a single table.*

In [ ]:
#Common methods to access various forms of data from DataFrame
print(df3.index)
print("\n")
print(df3.columns)
print("\n")
print(df3.City_name)
print("\n")
print(df3.Temperature)
print("\n")
print(df3.Humidity)

#### Uses of .loc() and .iloc() in the program

In [ ]:
#printing the first few rows for index purpose
df3.head(3)

In [ ]:
#To access the memory address of the DataFrame
id(df3)

In [ ]:
#using .loc() method to print the row content of the label specified.
df3.loc["A"]    #Specified label here is 'A' i.e. first row.

In [ ]:
#using .iloc() method prints the row content of the specified index.
df3.iloc[0]    #Specified index here is '0' i.e. first row.

Here one can also try slicing methods using loc and iloc methods.

In [ ]:
#using .loc[] for slicing 
df3.loc['B' : 'D']    #prints only the row contents from 'B' to 'D'.

In [ ]:
#One can also select the specific columns from the DataFrame to print row content from that columns.
df3.loc['B' : 'D', ["City_name", "Temperature"]]

#here it requires the names of the labels of the columns itself to print those specific columns.

In [ ]:
#using .iloc[] for slicing 
df3.iloc[1 : 4]    #prints only the row contents from indexes 1 to 3 with the 4 shown to be end row and is omitted.

In [ ]:
#One can also select the specific columns from the DataFrame to print row content from that columns.
df3.iloc[1 : 4, [0, 1]]

#here it requires the indexes of the columns itself to print those specific columns.

Remember few things :
1) .loc uses labels (names of rows and columns)
2) .iloc uses integer positions (like list indexing)

1) .loc includes the end index in slices
2) .iloc excludes the end index in slices

*“I will use loc when I know column names, and iloc when I work by positions.”*

## Mini EDA (Exploratory Data Analysis)

In [109]:
import pandas as pd

planets_data_book = pd.read_csv("planets.csv")
planets_data_book

,Planet,Type,Distance_AU,Mass_Earths,Radius_km,Gravity_mps2,Orbital_Period_days,Rotational_Period_hours,Num_Moons,Has_Rings,Surface_Temp_C,Atmospheric_Composition,Density_gcm3,Escape_Velocity_kms,Albedo_reflectivity
0,Mercury,Terrestrial,0.39,0.055,2439.7,3.70,87.97,1407.60,0,No,-173 to 427,"O, Na, He, H, K, Ca, Mg",5.43,4.25,0.088
1,Venus,Terrestrial,0.72,0.815,6051.8,8.87,224.70,-5832.00,0,No,462,"CO2 96.5%, N2 3.5%",5.24,10.36,NaN
2,Earth,Terrestrial,1.00,1.000,6371.0,9.80,365.25,23.93,1,No,-89 to 58,"N2 78%, O2 21%, Ar, CO2",5.51,11.19,0.306
3,Mars,Terrestrial,1.52,0.107,3389.5,3.71,686.98,24.62,2,NaN,-125 to 20,"CO2 ~95%, N2, Ar",3.93,5.03,0.250
4,Jupiter,Gas Giant,5.20,317.800,69911.0,24.79,4332.59,9.93,97,Yes,-145,"H2 ~90%, He ~10%",1.33,59.50,NaN
5,Saturn,Gas Giant,9.54,95.200,58232.0,10.44,10759.22,10.66,274,Yes,-178,"H2 ~96%, He ~3%",NaN,35.50,0.470
6,Uranus,Ice Giant,19.18,14.500,25362.0,8.69,30685.40,-17.24,29,Yes,-197,"H2, He, CH4",1.27,21.30,NaN
7,Neptune,Ice Giant,30.06,17.100,24622.0,NaN,60189.00,16.11,16,Yes,-201,"H2, He, CH4",1.64,23.50,NaN

### Inspection

In [ ]:
planets_data_book.head(4)   # Returns first four rows.

In [ ]:
planets_data_book.tail(3)    # Returns last three rows.

In [ ]:
planets_data_book.info()    
# Returns the class, total entries with index, no. of non-null objects, the data-types and the memory 
# usage.

In [ ]:
planets_data_book.describe()    # Returns the description of the statistical information as a summary.

In [ ]:
print(planets_data_book.isna())    
# Returns the boolean values where 'True' means null data and 'False' means non-null data.

print("\n")

print("Total Null Data: ")
print(planets_data_book.isna().sum())
# Returns the sum of all the non-data throughout the dataframe.

In [ ]:
planets_data_book.groupby("Type").agg(    
    Mean_mass = ("Mass_Earths", "mean"),
    Mean_radius = ("Radius_km", "mean"),
    Total_moons = ("Num_Moons", "sum")
)
# Returns the mean_mass, mean_radius and total_moons for all three types of planets.

### Data cleaning

#### The DataFrame feels a little empty and needs to be cleaned. So we will try cleaning the data by filling data in place of dropping data for numeric values.
**REMEMBER : Actual data cannot be filled altogether inside the object-type columns and need to be filled manually or use pandas operations for separate filling.**

In [105]:
filled_planets_data_book = planets_data_book.fillna(planets_data_book.mean(numeric_only = True))
print(filled_planets_data_book)
# This allows us to fill the empty numeric data with the mean value which is sum of all values divided
# by the number of rows the data is present.

print("\n")

# And now the cleaned numeric data looks like ...
print("Filled planetary numeric data (not for actual measurement) : ")
print(filled_planets_data_book.iloc[0 : 7, [0, 2, 3, 4, 5, 6, 7, 8]])

    Planet         Type  Distance_AU  Mass_Earths  Radius_km  Gravity_mps2  \
0  Mercury  Terrestrial     0.390000     0.055000     2439.7          3.70
1    Venus  Terrestrial     0.720000    63.687429     6051.8          8.87
2    Earth  Terrestrial     1.000000     1.000000     6371.0          9.81
3     Mars  Terrestrial     1.520000     0.107000     3389.5          3.71
4  Jupiter    Gas Giant     5.200000   317.800000    69911.0         24.79
5   Saturn    Gas Giant     9.580000    95.160000    58232.0         10.44
6   Uranus    Ice Giant    19.220000    14.540000    25362.0          8.69
7  Neptune    Ice Giant     5.375714    17.150000    24622.0         11.15

   Orbital_Period_days  Rotational_Period_hours  Num_Moons Has_Rings  \
0               88.000                  1407.60          0     False
1              224.700                 -5832.50          0     False
2              365.250                    23.93          1     False
3            12592.825                    24.62          2     False
4             4332.000                     9.93         95      True
5            10747.000                    10.66        274       NaN
6            12592.825                   -17.24         27      True
7            59800.000                    16.11         14      True

   Surface_Temp_C   Atmospheric_Composition  Density_gcm3  \
0             167  Exosphere of O Na H He K      5.430000
1             464             96% CO2 3% N2      5.240000
2              15             78% N2 21% O2      5.510000
3             -65     95% CO2 3% N2 1.6% Ar      3.930000
4            -110             90% H2 10% He      3.387143
5            -140              96% H2 3% He      0.690000
6            -195      82% H2 15% He 2% CH4      1.270000
7            -200    80% H2 19% He 1.5% CH4      1.640000

   Escape_Velocity_kms  Albedo
0            23.768571   0.525
1            10.360000   0.750
2            11.190000   0.310
3             5.030000   0.525
4            59.500000   0.540
5            35.500000   0.500
6            21.300000   0.525
7            23.500000   0.525


Filled planetary numeric data (not for actual measurement) :
    Planet  Distance_AU  Mass_Earths  Radius_km  Gravity_mps2  \
0  Mercury         0.39     0.055000     2439.7          3.70
1    Venus         0.72    63.687429     6051.8          8.87
2    Earth         1.00     1.000000     6371.0          9.81
3     Mars         1.52     0.107000     3389.5          3.71
4  Jupiter         5.20   317.800000    69911.0         24.79
5   Saturn         9.58    95.160000    58232.0         10.44
6   Uranus        19.22    14.540000    25362.0          8.69

   Orbital_Period_days  Rotational_Period_hours  Num_Moons
0               88.000                  1407.60          0
1              224.700                 -5832.50          0
2              365.250                    23.93          1
3            12592.825                    24.62          2
4             4332.000                     9.93         95
5            10747.000                    10.66        274
6            12592.825                   -17.24         27

#### Basic questions to counter :

In [ ]:
# How many rows and columns ?

print(f"Total rows: {len(planets_data_book.index)}")   # Returns the total rows in the DataFrame.

print(f"Total columns: {len(planets_data_book.columns)}")   # Returns the total columns in the DataFrame.

In [ ]:
# Which columns have missing values?

print(f"Columns with missing values: \n{planets_data_book.columns[planets_data_book.isnull().any()]}\n")
# Returns the names of the columns that has missing values.

print(f"Number of columns with missing values: {planets_data_book.isnull().any().sum()}")
# Returns the numeber of the columns with missing values.

In [ ]:
# Which column is numeric?

print(f"Columns with numeric values: {planets_data_book.select_dtypes('number').columns}")
# Returns the name of all the columns with numeric data-types.